<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Menu</title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatable.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
<body>

<div class="container">
	<div class="py-5 text-center">
	<h2>Kampanya Tanımları</h2>
		<a href="/products" class="btn btn-primary btn-lg" role="button">Ürünler</a>
		<a href="/categories"  class="btn btn-info btn-lg" role="button">Kategoriler</a>
	</div>
</div>

</body>
</html>